$background: #F6F8FF;
$grayContainerBackground: #ECF3FF;
$greenContainerBackground: #ECFFEF;
$redContainerBackground: #FFECEC;

$black: #23262D;
$grayDark: #9199AD;
$grayLight: #C3C8DA;
$greenDark: #91AD9A;
$greenLight: #C3DACA;
$redDark: #AD9191;
$redLight: #DAC3C3;
